/* Color palette */

:root {
  --red: $red;
  --charcoal-grey: $charcoal-grey;
  --charcoal-grey-two: $charcoal-grey-two;
  --dark-grey: $dark-grey;
  --sunflower-yellow: $sunflower-yellow;
  --deep-red: $deep-red;
  --charcoal-grey-three: $charcoal-grey-three;
  --black-25: $black-25;
}

/* Text styles */

.Text-Style {
  font-family: Avenir;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: $white;
}