body,
html {
	background-color: $charcoal-grey-three;
}
@mixin placeholder {
	&::-webkit-input-placeholder {
		@content
	}

	&:-moz-placeholder {
		@content
	}

	&::-moz-placeholder {
		@content
	}

	&:-ms-input-placeholder {
		@content
	}
}

.Rectangle {
	width: 100%;
	height: 100px;
	background-color: $red;
	box-shadow: 0 2px 8px 0 $black-25;
	padding-right: $main-horizontal-padding;
	padding-left: $main-horizontal-padding;
	z-index: 2;
}

.footer {
	height: 100px;
	max-height: 100px;
	background-color: $charcoal-grey;

	.Copyright-2017-Lore {
		opacity: 0.5;
		font-family: Avenir;
		font-size: 14px;
		font-weight: 500;
		text-align: center;
		color: #ffffff;
	}
}

.searchView {
	.Rectangle-28 {
		width: 276px;
		height: 55px;
		background-color: darken( $red , 4%);
	}

	.Search-this-site {
		width: 200px;
		opacity: 1;
		font-family: Avenir;
		font-size: 16px;
		font-weight: 500;
		color: $white;
		background-color: transparent;
		border: none;
		padding: 17px 0 16px 25px;
		@include placeholder {
			opacity: 0.5;
			color: $white;
		}
	}

	.icon_search {
		width: 24px;
		height: 24px;
		object-fit: contain;
		color: white;
		padding: 16px 25px;
		position: relative;
		float: right;
	}

	.icon_loader {
		width: 43px;
		height: 43px;
		object-fit: contain;
		color: white;
		padding: 6px 12px;
		position: relative;
		float: right;
	}

	.successResponse {
		background-color: rgb(255, 255, 255);
		color: lighten($black, 50%);
		width: 100%;

		.text-contenainer {
			padding-left: 1.5em;
		}

		> div {
			width: 100%;
		}
	}

	.errorResponse {
		padding: 1.5em;
		background-color: rgb(255, 255, 255);
		color: lighten($black, 50%);

		.text-contenainer {
			padding-left: 1.5em;
		}
	}
}

.partialView {
	background-position: center;
	background-size: cover;
	height: calc(100% - 200px);
	z-index: 1;

	.textContainer {
		background-color: rgba($dark-grey, 0.95);
		padding-left: $main-horizontal-padding;
		padding-top: 50px;
		padding-right: 60px;

		.padding-bottom-x1 {
			margin-bottom: 18px;
		}

		.h-divider {
			width: 100%;
			height: 1px;
		  min-height: 1px;
		  opacity: 0.25;
		  background-color: #ffffff;
			margin-top: 15px;
		}

		.mediaTitle {
			font-family: Avenir;
			font-size: 32px;
			font-weight: 900;
			color: #ffffff;
		}

		.mediaContent {
			opacity: 0.75;
			font-family: Avenir-Book;
			font-size: 18px;
			color: #ffffff;
		}

		.mediaSubTitle {
			font-family: Avenir-Book;
			font-size: 18px;
			font-weight: 900;
			color: #ffffff;
			padding-top: 30px;
		}
	}
}
/* Rules for sizing the icon. */
.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}