$base-font: 1em;

/* Colors : Base */

$black : #000000;
$white : #ffffff;

/* Colors : NoltFlix */
$red : #d00000;
$charcoal-grey : #32363c;
$charcoal-grey-two : #373e4a;
$dark-grey : #1b1d1f;
$sunflower-yellow : #ffcd00;
$deep-red : #a30000;
$charcoal-grey-three : #282b31;
$black-25 : rgba( black , 0.25 );

/* GUI definitions */
$main-horizontal-padding: 102px;