<div class="partialView" ng-style="{'background-image':'url('+data.poster+')'}" layout="row"  flex>
	<md-content layout="column" layout-align="start stretch" class="textContainer" flex="50">
		<div class="padding-bottom-x1">
			<span class="mediaTitle">{{data.show_title}}</span>
		</div>
		<div layout="row" layout-align="space-between">
			<div class="mediaContent">
				Movie Release Year: {{data.release_year}}
			</div>
			<div class="mediaContent">
				Runtime: {{data.runtime}}
			</div>
		</div>
		<md-divider class="h-divider"></md-divider>
		<div class="mediaSubTitle">Director</div>
		<div class="mediaContent">{{data.director}}</div>
		<div class="mediaSubTitle">Cast</div>
		<div class="mediaContent">{{data.show_cast}}</div>
		<div class="mediaSubTitle">Summary</div>
		<div class="mediaContent">{{data.summary}}</div>
	</md-content>
	<div class="" flex="50">

	</div>
</div>