<div class="searchView">
	<img ng-src="{{vm.loading ? 'img/loader.svg' : 'img/icon-search.svg'}}"
	 ng-class="vm.loading ? 'icon_loader' : 'icon_search' ">
	<div class="Rectangle-28">

		<input type="text" name="searchField"
		ng-model="vm.searchField"
		ng-change="vm.selectedItemChange(vm.searchField)"
		placeholder="Search Media"
		class="Search-this-site"
		ng-keydown="$event.keyCode === 13 && vm.viewMedia(vm.responseData)">

		<div class="dropdown">
			<div ng-if="vm.responseData && !vm.responseData.errorcode" class="successResponse">

				<div layout="column" layout-align="start stretch" class="md-padding" flex>

					<div flex>

						<span class="md-title">{{vm.responseData.show_title}}</span><br>
						{{vm.responseData.release_year}}, {{vm.responseData.category}}<br>
						<em class="md-caption">({{vm.responseData.runtime}})</em>

						<!-- <pre>{{vm.responseData|json}}</pre> -->

					</div>

					<div layout="row" layout-align="end center">
						<span>{{vm.responseData.rating}}</span>
						<i class="material-icons md-24">star</i>
					</div>

				</div>
			</div>
			<div ng-if="vm.responseData && vm.responseData.errorcode" class="errorResponse">
				<div layout="row" layout-align="start center" flex>
					<div>
						<i class="material-icons md-36">error_outline</i>
					</div>
					<div class="text-contenainer" flex>
						{{vm.responseData.message}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>