<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Project CSS -->
	<link rel="stylesheet" href="css/master.css">
</head>
<body ng-app="NoltApp" layout="column" layout="start stretch" ng-cloak>
	<!-- Top-bar -->
	<div layout="row" layout-align="space-between center" class="Rectangle">
		<img ng-src="{{'img/noltflix-logo.svg'}}"
     class="noltflix_logo">
		<div search-media></div>
	</div>

	<div ui-view layout="column" flex></div>

	<div layout="row" layout-align="center center" flex class="footer">
		<span class="Copyright-2017-Lore">Copyright 2017, Lorem Ipsum dolor sit amet</span>
	</div>
	<!-- Plugin scripts -->
	<script src="js/vendor.js" charset="utf-8"></script>

  <!-- Application scripts  -->
	<script src="js/app/app.module.js" charset="utf-8"></script>
	<!-- Api -->
	<script src="js/app/api/api.service.js" charset="utf-8"></script>
	<!-- Search -->
	<script src="js/app/search/search.directive.js" charset="utf-8"></script>
	<script src="js/app/search/search.controller.js" charset="utf-8"></script>

</body>
</html>